<div class="col-md-12" ng-controller="openVPNConnectController">
	<div class="panel-group">
		<div class="col-md-12">
			<!-- OpenVPN Connect Title Panel -->
			<div class="panel panel-default">
				<div class="panel-header text-muted text-center">
					<h3>OpenVPN Connect
					</h5>
				</div>
				<div id="main-panel" class="panel panel-default">
					<div class="panel-body">
						<!-- Dependency Installer UI -->
						<div class="panel-body">
							<div class="form-group">
								<label class="control-label text-center">依赖项:</label>
								<button type="button" style="width: {{installButtonWidth}};" class="btn btn-{{installLabel}} btn-xs" ng-click="handleDependencies()">{{installLabelText}}</button>
								<button type="button" style="width: 160px;" class="btn btn-{{installLabel}} btn-xs" ng-hide="hideSDDependency" ng-click="handleDependenciesSDCard()">{{installSDLabelText}}</button>
							</div>
							<div class="form-group">
								<label class="control-label text-center">安装状态</label>
								<p>
									<input class="form-control" ng-model="workspace.setupcontent" placeholder="" readonly></input>
								</p>
							</div>
						</div>
						<!-- OpenVPN Cert Selector -->
						<div class="panel-body">
							<form class="form-horizontal">
								<div class="form-group">
									<p>
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ovpn_upload_view">上传证书</button>
									</p>
									<p>
										<div>
											<label class="control-label">
												<a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseCertList">
													<button type="button" class="btn btn-default" ng-click="refreshCertList()">
                                                                         选择证书 +
                                                                    </button>
												</a>
											</label>
											<div id="collapseCertList" class="panel-collapse collapse">
												<div class="panel panel-default">
													<div>
														<ul class="list-group text-center" ng-repeat="cert in workspace.availablecerts">
															<li class="list-group-item">
																<button type="button" class="btn btn-default" ng-click="setConfig(cert)">{{cert}}</button>
															</ul>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</p>

									<!-- OpenVPN Connect Option Form -->
									<label class="control-label text-center">VPN配置名:</label>
									<a href="javascript:;" ng-click="workspace.config = ''">清除</a>
									<p>
										<input class="form-control" ng-model="workspace.config" placeholder="请输入"></input>
									</p>
									<label class="control-label text-center">VPN配置用户名 (可选，使用--auth-user-pass):</label>
									<a href="javascript:;" ng-click="workspace.user = ''">清除</a>
									<p>
										<input class="form-control" ng-model="workspace.user" placeholder="请输入"></input>
									</p>
									<label class="control-label text-center">VPN配置密码(可选，如果没有提供用户，则回退到--askpass):</label>
									<a href="javascript:;" ng-click="workspace.pass = ''">清除</a>
									<p>
										<input class="form-control" type="password" ng-model="workspace.pass" placeholder="请输入"></input>
									</p>
									<label class="control-label text-center">OpenVPN Flags (可选):</label>
									<a href="javascript:;" ng-click="workspace.flags = ''">清除</a>
									<p>
										<input class="form-control" ng-model="workspace.flags" placeholder="请输入"></input>
									</p>
									<label class="control-label text-center">客户共享连接:</label>
										<input type="checkbox" ng-model="workspace.sharedconnection">
										<div class="input-group">
											<span class="input-group-btn text-center">
												<button class="btn btn-default" type="button" ng-click="startVPN()">启动VPN</button>
												<button class="btn btn-default" type="button" ng-click="stopVPN()">停止VPN</button>
											</span>
										</div>
									</div>
								</form>
							</div>
							<!-- OpenVPN Status Section -->
							<div class="panel-body">
								<div class="form-group">
									<label class="control-label text-center">OpenVPN状态</label>
									<p>
										<textarea class="form-control" rows="1" ng-model="workspace.outputcontent" placeholder="" readonly></textarea>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- OpenVPN Cert Upload Modal -->
				<div id="ovpn_upload_view" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<div class="btn btn-primary">
									<label for="selectedFiles" style="cursor: pointer">添加文件</label>
								</div>
							</div>
							<div class="modal-body">
								<table class="table">
									<thead>
										<th>文件</th>
										<th>操作</th>
									</thead>
									<tbody>
										<tr ng-repeat="file in selectedFiles">
											<td>{{ file.name }}</td>
											<td>
												<button class="btn btn-danger" ng-click="removeSelectedFile(file);">删除
												</td>
											</tr>
										</tbody>
									</table>
									<div style="text-align:center">
										<input type="file" accept=".ovpn" id="selectedFiles" onchange="angular.element(this).scope().setSelectedFiles()" style="visibility: hidden;" multiple>
											<img ng-show="uploading" ng-hide="!uploading">
                                                <button class="btn" ng-show="!uploading" ng-hide="uploading" ng-disabled="selectedFiles.length == 0" ng-click="uploadFile();">上传</button>
                                                <div class="alert alert-{{workspace.uploadstatus}}">{{workspace.uploadstatusLabel}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Change Log Pannel -->
							<div class="panel panel-default">
								<div class="panel-header text-muted text-center">
									<h5>
										<a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseChangelog">更新日志</a>
									</h5>
								</div>
								<div id="collapseChangelog" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li>
												<b>1.0.2 </b>
											</li>
											<ul>
												<li class="text-muted">在重新访问页面，日志记录、将依赖项安装到SD卡或本地存储时添加了当前状态。还修复了一些错误。</li>
											</ul>
											<li>
												<b>1.0.1 </b>
											</li>
											<ul>
												<li class="text-muted">次要修订：使用动态网关添加更好的iptables管理，并使用auth-user-pass。非正式发布（仅在Github上）</li>
											</ul>
											<li>
												<b>1.0</b>
											</li>
											<ul>
												<li class="text-muted">初始化发布</li>
											</ul>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
